<div id="<%= dom_id list %>"
     data-sortable-update-url="<%= list_path(list) %>"
     class="min-w-72 max-w-72 p-3 m-2 bg-gray-200 border border-gray-400 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col ">

     <%= link_to list.title, edit_list_path(list), id: "label_#{ dom_id list}", class: "font-bold dark:text-white text-center", data: { turbo_frame: "modal" } %>

     <ul id="cards_for_<%= dom_id(list) %>"
         data-controller="sortable"
         data-sortable-list-id="<%= list.id %>"
         data-sortable-group-value="cards"
         data-sortable-type-value="card"
         class="list full flex-grow overflow-y-scroll">

         <% list.cards.rank(:row_order).each do |card| %>
           <%= render card %>
         <% end %>
     </ul>
     <%= link_to "Add Card", new_list_card_path(list), data: { turbo_frame: "modal" }, class: "font-bold dark:text-white text-center" %>
</div>
