<div class="flex justify-center mt-8">
  <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <% if Current.user.verified? %>
      <%= form_with(url: identity_email_path, method: :patch, class: "space-y-6") do |form| %>
        <h5 class="text-xl font-medium text-gray-900 dark:text-white">Change your email address</h5>
        <% if @user.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div>
          <%= form.label :email, "New email", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.email_field :email, required: true, autofocus: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
        </div>
        <div>
          <%= form.label :password_challenge, "Confirm password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.password_field :password_challenge, required: true, autocomplete: "current-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
        </div>
        <div class="flex flex-row justify-end">
          <%= link_to "Cancel", root_path, class: "py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
          <%= form.submit "Save changes", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        </div>
      <% end %>
    <% else %>
      <div class="space-y-6">
        <h5 class="text-xl font-medium text-gray-900 dark:text-white">Verify your email</h5>
        <p class="mb-3 text-gray-500 dark:text-gray-400">You must verify your email address before it can be changed.</p>
        <p class="mb-3 text-gray-500 dark:text-gray-400">We sent a verification email to the address below. Look for that email and follow the instructions to confirm it's your email address.</p>
        <p class="mb-3 text-gray-700 dark:text-gray-300"><%= Current.user.email %></p>
        <p class="mb-3 text-gray-500 dark:text-gray-400"> Be sure to check in your spam folder if you aren't able to find the message.</p>
        <%= button_to "Re-send verification email", identity_email_verification_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      </div>
    <% end %>
  </div>
</div>
