<div class="h-full max-h-full flex flex-col overflow-hidden">
  <div class="self-center flex flex-row w-full gap-10 pb-2">

    <button id="board-dropdown" 
            data-dropdown-toggle="dropdown" 
            class="mx-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Boards<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
    </button>

    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <% @board.workspace.boards.each do |b| %>
          <li>
            <a href="<%= board_path(b) %>" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><%= b.name %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <p class="text-2xl font-bold dark:text-white pb-2"> <%= @board.name %> </p>
    <% if policy(@board).edit? %>
      <%= link_to "Edit this board", edit_board_path(@board), class: "rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    <% end %>
    <%= link_to "Back to workspace", workspace_path(@board.workspace), class: "rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>

  <div id="lists"
    <% if policy(@board.lists.build(title: "New List")).update? %>
         data-controller="sortable"
         data-sortable-type-value="list"
       <% end %>
         class="flex-grow max-h-full flex flex-row bg-gray-400 overflow-x-scroll">

         <% @board.lists.rank(:row_order).each do |list| %>
           <%= render list %>
         <% end %>
         <% if policy(@board.lists.build(title: "New List")).new? %>
           <div id="new-list" class="min-w-72 max-w-72 p-3 m-2 bg-gray-200 border border-gray-400 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col">
             <%= link_to "+ Add New List", new_board_list_path(@board), data: { turbo_frame: "modal" }, class: "font-bold dark:text-white text-center" %>
           </div>
         <% end %>
  </div>
  <%= turbo_frame_tag "modal" %>
</div>
