<li id="<%= dom_id card %>"
    class="block shadow-gray-500 max-w-sm p-3 m-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 "
    data-sortable-update-url="<%= card_path(card) %>">

    <% card_frame_id = dom_id(card, "turbo_frame") %>
    <%= form_with model: card, class: "contents inline-edit", data: { turbo_frame: card_frame_id } do %>
        <%= turbo_frame_tag card_frame_id, class: "contents" do %>
            <a href="<%= edit_card_path(card) %>" class="float-right">
                <svg class="w-5 h-5" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="m3.99 16.854-1.314 3.504a.75.75 0 0 0 .966.965l3.503-1.314a3 3 0 0 0 1.068-.687L18.36 9.175s-.354-1.061-1.414-2.122c-1.06-1.06-2.122-1.414-2.122-1.414L4.677 15.786a3 3 0 0 0-.687 1.068zm12.249-12.63 1.383-1.383c.248-.248.579-.406.925-.348.487.08 1.232.322 1.934 1.025.703.703.945 1.447 1.025 1.934.058.346-.1.677-.348.925L19.774 7.76s-.353-1.06-1.414-2.12c-1.06-1.062-2.121-1.415-2.121-1.415z" fill="currentColor"></path></g></svg>
            </a>
            <%= link_to card.title, edit_card_path(card), class: "font-normal text-gray-700 dark:text-gray-400", data: { turbo_frame: "modal" } %>
        <% end %>
    <% end %>
</li>
