<!DOCTYPE html>
<html>
  <head>
    <title>I Can Has Kanban?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-400">
    <main class="w-full h-screen flex flex-col">
      <%= render partial: "layouts/navbar" %>
      <%= render partial: "shared/notification", locals: { notice: } %>
      <%= yield %>
    </main>
  </body>
</html>
